.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  height:100vh;
  width: 100vw;
}

.navbar {
  display:flex;
  position: absolute;
  padding: 10px;
  left:0;
  right:0;
  z-index: 1000;
}

.navbar .settings {
  flex-grow: 1;
  text-align: right;
  position: relative;
}
.navbar .menu > span, .settings > div, .settings .dropdown {
  padding:10px;
  background-color: white;
  box-shadow: 1px 1px grey;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  display: inline-block;
}

.settings > div {
  margin-left: 8px;
}

.settings .dropdown-wrapper {
  position: absolute;
  padding: 0;
  padding-top: 8px;
  right: 0;
  text-align: left;
  top: 38px;
}

.settings .dropdown {
  padding: 0;
  overflow: hidden;
}

.settings .dropdown div {
  padding: 10px 25px;
  border-bottom: 1px solid lightgrey;
}

.menu .menu-items {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px grey;
  overflow: hidden;
}

.menu-items .item {
  border-bottom: 1px solid lightgrey;
}

.item .first {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item .first:hover, .settings .dropdown div:hover, .setup-wrapper div div:hover, .admin-sidebar div:hover, .entity-row:hover {
  background-color: #eaeaea;
}

.first span {
  font-size: 22px;
  font-weight: 600;
  flex-grow: 1;
}

.item .second {
  background-color:lightgrey;
  padding: 10px 15px;
  border-top: 2px solid #bbb;
}

.second span {
  background-color: orange;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  color: white;
  font-weight:500;
  border-top: 1px solid grey;
}

.second span:nth-of-type(2){
  margin: 0 5px;
}

.itinerary-wrapper {
  background-color: lightgrey;
  height: 80vh;
  display:none;
  /* overflow: auto; */
}

.settings-wrapper{
  padding-top: 150px;
  text-align:center;
}

.settings-wrapper div {
  display: flex;
  align-items:center;
  justify-content: center;
}

.settings-wrapper div div {
  padding: 50px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.admin-wrapper {
  padding-top: 60px;
}

.admin-wrapper > div {
  display: flex;
  border-top: 1px solid lightgrey;
  height: calc(100vh - 61px);
}

.admin-sidebar {
  flex-basis: 10%;
  border-right: 1px solid lightgrey;
}

.admin-sidebar div {
  padding: 15px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  cursor: pointer;
}

.admin-list {
  width: 100%;
  padding: 50px;
}

.admin-list > div:first-child{
  padding-bottom: 10px;
  text-align: right;
}

.admin-list ul{
  display: grid;
  grid-template-columns: 50px repeat(3, 1fr) 2fr repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-list .heading li{
  background-color: grey;
  color: white;
}

.entity-list {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.entity-list li{
  padding: 10px 20px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.entity-list li:last-child{
  border-right: none;
}

.entity-row li:last-child span {
  cursor: pointer
}

.entity-row li:last-child span:hover {
  text-decoration: underline;
}

.admin-form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

.admin-form .heading {
  padding: 15px;
  background-color: lightgrey;
  border-radius: 5px 5px 0 0;
}

.admin-form .form-wrapper {
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
}

.admin-form .form-group{
  display: flex;
}

.form-group p {
  margin-bottom: 5px;
}

.form-group label {
  margin: 0 10px;
  width: 100%;
}

.button-wrapper {
  padding: 0 10px;
}

.form-button {
  width: 100%;
  margin-top:30px;
}

input[type="file"]{
  opacity:0;
  width:0
}

.profile-photo {
  display: inline-block;
  background-color: lightgrey;
  padding: 48px 6px;
  border-radius: 50%;
  margin-bottom: 25px;
  text-align:center;
  cursor: pointer;
}

.profile-photo:before{
  content: "Upload Photo";
  position: relative;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  left: 15px;
}

.profile-photo.update:before {
  content: "Change Photo";
  top: 40px;
}

button{
  padding: 10px 15px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: black;
}

button:focus {
  outline: none;
}

input, select{
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid lightgrey;
  width: 100%;
  box-sizing: border-box;
}

input:focus, select:focus{
  outline: none;
}

input[type="date"]{
  padding: 0.48em;
  width: 100%;
  box-sizing: border-box;
}
